

.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:8px !important;
  border-bottom: 1px solid #D7DADE;

}

.quantity-input__modifier,
.quantity-input__screen {
  user-select: none;
  outline: none;
}

.quantity-input__modifier {
  
  width: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.quantity-input__screen {
  width: 2rem;
  font-size: 1.5rem;
  border: 0;
  align-items: center;

}